.entity-reference {
    color: #1890ff;
    text-decoration: none;
    cursor: pointer;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}
