<nz-layout class="app-layout">
  <nz-sider class="app-sider" nzWidth="256px">
    <div class="logo">Dewey DM</div>
    <div class="create-button-container">
      <button
        nz-button
        nzType="primary"
        nzBlock
        (click)="onClickCreateButton()">
        + Create
      </button>
    </div>
    <ul nz-menu
        nzTheme="dark"
        nzMode="inline"
        [nzInlineIndent]="24">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home">Home</a>
      </li>
      <li *ngIf="lists$().length > 0" nz-menu-divider class="nav-divider"></li>
      <li nz-menu-item
          *ngFor="let list of lists$()"
          nzMatchRouter>
        <a [routerLink]="['/lists', list.id]">
          {{ list.name }}
        </a>
      </li>
      <li *ngIf="entities$().length > 0" nz-menu-divider class="nav-divider"></li>
      <li nz-menu-item
          *ngFor="let entity of entities$()"
          nzMatchRouter>
        <a [routerLink]="['/entity', getEntityKey(entity.name)]">
          {{ entity.pluralName }}
        </a>
      </li>
      <li nz-menu-divider class="nav-divider"></li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/workspace-config">Workspace Config</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="app-main-layout">
    <nz-content class="app-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- Global Create Modals -->
<app-global-create-entity-select
  [isOpen]="isCreateModalOpen$()"
  [entities]="entities$()"
  (onSelectEntity)="onSelectEntity($event)"
  (onCancel)="onCancelEntitySelect()">
</app-global-create-entity-select>

<app-global-create-form
  [isOpen]="isFormModalOpen$()"
  [entity]="selectedEntity$()"
  [formData]="formData$()"
  (onSubmit)="onFormSubmit($event)"
  (onCancel)="onFormCancel()">
</app-global-create-form>
