<div
    sortable
    (sortableSort)="onSort($event)"
    class="sortable-list-container">
    <div
        *ngFor="let item of items()"
        class="sortable-list-item">
        <div class="sortable-handle">
            <span class="handle-icon"> ⋮ </span>
        </div>
        <div class="item-content">
            <ng-container *ngIf="itemTemplate(); else defaultTemplate">
                <ng-container *ngTemplateOutlet="itemTemplate(); context: { $implicit: item }"></ng-container>
            </ng-container>
            <ng-template #defaultTemplate>
                {{ item }}
            </ng-template>
        </div>
    </div>

    <div *ngIf="items().length === 0" class="empty-state">
        <p>No items in this list</p>
    </div>
</div>
