<nz-modal
    [nzVisible]="isOpen"
    nzTitle="Link Existing Document"
    (nzOnCancel)="onClickCancel()">
    <ng-container *nzModalContent>
        <div class="search-bar">
            <input
                nz-input
                placeholder="Search by name..."
                [(ngModel)]="searchQuery" />
        </div>
        <nz-table
            [nzData]="filteredDocuments"
            [nzShowPagination]="false"
            nzSize="small">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doc of filteredDocuments">
                    <td>{{ doc.name }}</td>
                    <td>
                        <button nz-button nzType="primary" nzSize="small" (click)="onClickSelect(doc)">Select</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button (click)="onClickCancel()">Cancel</button>
    </ng-container>
</nz-modal>
